<style>

.h3 
{
    font-size: 2.5rem;
}

.container
{
display:none !important;
}

/*Adjust service collection padding*/
div.collection.dpe-component-wrapper
{
     padding: 0px !important;
}
div.cq-analyzable.parbase.section.collection.list
{
     padding: 0px !important;
}

/*Contacts padding*/
div.dpe-component-wrapper.contacts-component
{
     padding:0px;
}

</style>